@media screen and (min-width: 680px) {

    .advantages-div {
        background: url("../images/smartfone.png") 50% 74% no-repeat;
    }

    .item {
        width: 30%;
        text-align: justify;
    }

    .main-wrapper {
        padding: 0 0 150px;
        background: url("../images/main-pic.png") 50% 68% no-repeat;
    }
    .main .main-title{
        padding: 0 0 15px 0;;
    }
    .main-subtitle{
        margin-left: 0px;
    }
    .guarantee-text {
        padding: 10px;
        width: 200px;
        bottom: 7%;
        left: 1%;
    }
    .image,
    .big-order {
        width: 40%;
        margin: 15px;
        text-align: left;
    }

    .instruction-image {
        width: 30%;
        margin: 15px;
        text-align: left;
    }

    .instruction-text {
        width: 50%;
        margin: 15px;
        text-align: left;
    }

    .images img {
        height: 200px;
    }

    .video-2-wrap .text {
        width: 45%;
    }

    .video-2-wrap {
        background: url("../images/video-2-back.png") no-repeat 50%;
        background-size: cover;
        padding: 30px 20px 10px;
        -webkit-box-shadow: 0px 11px 8px 0px rgba(209, 209, 209, 1);
        box-shadow: 0px 11px 8px 0px rgba(209, 209, 209, 1);
    }

    .video-2-wrap .video-div {
        padding: 80px 0;
    }
    .iframe{
        width: 500px;
        height: 300px;
    }
    .instruction-wrap {
        background: url("../images/instruction-background.png") 50% no-repeat;
        background-size: cover;
        padding: 25px 0;
        -webkit-box-shadow: 0px 11px 8px 0px rgba(209, 209, 209, 1);
        box-shadow: 0px 11px 8px 0px rgba(209, 209, 209, 1);
        margin-bottom: 50px;
    }

    .info-item {
        text-align: left;
        padding: 10px 10px 10px 160px;
        margin: 10px 10px 80px;
    }

    .info-item::before {
        width: 120px;
        height: 120px;
        left: 0;
    }

    .footer {
        text-align: left;
    }

    .footer-text,
    .footer-button {
        width: 30%;
    }

    .footer .nav-socials {
        margin-top: 25px;
    }

    .footer .footer-button {
        margin-top: 55px;
    }
    .modal .form-div{
        padding: 20px ;
    }
    .overlay .modal {
        padding: 20px 80px;
    }
}

@media screen and (min-width: 840px) {


    .form-div {
        width: 70%;
        -webkit-box-shadow: 0px 11px 8px 0px rgba(209, 209, 209, 1);
        box-shadow: 0px 11px 8px 0px rgba(209, 209, 209, 1);
    }

    .client-data,
    .dop-info {
        width: 280px;
    }

    .logo {
        width: 300px;
        height: 60px;
        background-size: contain;
        margin: 25px 0 15px 0;
    }



    .main-nav ul {
        position: static;
        width: auto;
        padding: 100px 0 0 0;
        background: transparent;
        display: block;
    }

    .main-nav li,
    .nav-socials li {
        display: inline-block;
        margin-right: 29px;
    }

    .main-nav li a,
    .nav-socials li a {
        color: #000000;
        padding: 10px 8px;
        border: none;
    }

    .main-nav li a:hover,
    .nav-socials li a:hover {
        color: #e8140e;
        border-radius: 2px;
    }

    .nav-socials .whatsapp a::before {
        margin-top: 0;
    }

    .order-wrap,
    .order-wrap-2 {
        background-size: cover;
        padding: 50px 0;
        background-position: 50% 0;
    }
}

@media screen and (min-width: 960px) {
    header {
        position: fixed;
        top: 0;
        left: 0;
        background: #feffff;
        width: 100%;
        z-index: 15;
    }
    .main-wrapper {
    padding: 150px 200px 220px 200px;
    -webkit-box-shadow: 0px 11px 8px 0px rgba(209, 209, 209, 1);
    box-shadow: 0px 11px 8px 0px rgba(209, 209, 209, 1);
    }
    .nav-btn {
        display: none;
    }
    .logo {
        background-size: contain;
        margin: 22px 0;
    }

    .main-nav,
    .nav-socials {
        float: left;
    }

    .main-nav ul {
        float: right;
        padding: 30px 0 0 0;
    }

    .nav-socials ul {
        float: right;
        padding: 15px 0 0 0;
    }

    .main-nav li,
    .nav-socials li {
        margin-right: 6px;
    }
    .form-row .main-button{
        display: inline-block;
        margin-bottom: 15px;
    }

}

