@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=cyrillic-ext');

body {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    background: #ffffff;
    line-height: 1.5;
    font-size: 12px;
    min-width: 320px;
    margin: 0;
}

.container {
    min-width: 320px;
    max-width: 960px;
    margin: 0 auto;
}

.main-wrapper {
    background: url("../images/main-pic.jpg") 50% no-repeat;
    background-size: cover;
    padding: 0px 0 30px 0;
    text-align: center;
    -webkit-box-shadow: 0px 11px 8px 0px rgba(209, 209, 209, 1);
    -moz-box-shadow: 0px 11px 8px 0px rgba(209, 209, 209, 1);
    box-shadow: 0px 11px 8px 0px rgba(209, 209, 209, 1);
}

.logo {
    width: 140px;
    height: 40px;
    background: url(../images/main-logo.png) 50% no-repeat;
    background-size: contain;
    float: left;
    font-size: 0;
    margin-bottom: 30px;
}

.nav-btn {
    background: #ffffff;
    width: 50px;
    height: 48px;
    position: relative;
    float: right;
    border: none;

}

.nav-btn i {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1px 0 0 -9px;
    width: 18px;
    height: 2px;
    background: #000;
}

.nav-btn i::before,
.nav-btn i::after {
    content: "";
    width: 18px;
    height: 2px;
    background: #000;
    position: absolute;
    left: 0;
}

.nav-btn i::before {
    top: -6px;
}

.nav-btn i::after {
    top: 6px;
}

.main-nav,
.nav-socials {
    position: relative;
}

.main-nav ul {
    position: absolute;
    top: 49px;
    right: 0;
    width: 70%;
    padding: 10px;
    margin: 0;
    list-style: none;
    background: #ffffff;
    display: none;
}

.nav-socials ul {
    list-style: none;
    text-align: center;
}

.nav-socials li a:hover {
    color: #e8140e;
}

.main-nav li {
    margin: 0;
    padding: 0;
}

.nav-socials li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.main-nav li a,
.nav-socials li a {
    text-decoration: none;
    color: #000000;
    font-size: 13px;
    display: block;
    padding: 10px 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.nav-socials li a {
    border: none;
    display: inline-block;

}

.nav-socials a::before {
    display: inline-block;
    width: 20px;
}

.nav-socials .whatsapp a::before {
    content: url("../images/whatsapp.svg");
    margin-top: 80px;
}

.nav-socials .viber a::before {
    content: url("../images/viber.svg");
}

.nav-socials .telegram a::before {
    content: url("../images/telegram.svg");
}

.main-nav li:last-child a {
    border: none;
}

.nav-btn.is-active i {
    background: transparent;
}

.nav-btn.is-active i::before {
    top: 0;
    transform: rotate(45deg);
}

.nav-btn.is-active i::after {
    top: 0;
    transform: rotate(-45deg);
}

.main-title {
    font-weight: 400;
    padding: 0 0 50px 0;
    font-size: 23px;
    text-transform: uppercase;
}

.main-subtitle {
    margin-bottom: 50px;

}

.main-button {
    font-size: 10px;
    text-transform: uppercase;
    color: #ffffff;
    background: #e8140e;
    padding: 15px 30px;
    border: none;
    -webkit-box-shadow: 0 5px 5px 0px rgba(210, 210, 210, 0.9);
    -moz-box-shadow: 0px 5px 5px 0px rgba(210, 210, 210, 0.9);
    box-shadow: 0px 5px 5px 0px rgba(210, 210, 210, 0.9);
}

.main-button:hover {
    background: #c00d08;
}

.video-div {
    text-align: center;
    padding: 80px 0;
    margin-bottom: 50px;
}

.video-text {
    text-align: justify;
    margin: 20px 10px 50px 10px;
}

video {
    width: 75%;
    height: 230px;
}

.order-wrap {
    background: url("../images/background-phone.png") no-repeat 0 0;
    background-size: contain;
    padding: 50px 0 150px;
}
.order-div{
    padding: 0 20px;
}
.order-title{
    font-size: 18px;
    font-weight: 500;
}
.order-subtitle{
    font-size: 14px;
}
.order-small-text{
    font-size: 10px;
}
.advantages-div{
    padding: 20px 10px;
    background: url("../images/favicon.ico") 50% no-repeat;
    background-size: auto;
}
footer {
    background: #202242;
}

.footer {

}
